.list{
	color:black;
	width: 280px;
	min-height:100%;
	position:fixed;
	top:0;
	left:0;
	transition: 0.5s;
	/*z-index: 1;*/
	padding: 20px 30px;
	background-color: white;
	border-radius: 0px 20px 20px 0px;
	border: solid lightgray 1px;
	border-style: groove;
} 
.dashboard{
	background-color: #f4f4f4;
	margin-left: 280px;
	transition:0.5s;
	padding:20px 40px;
	min-height: 100vh;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow:1;
	margin:40px auto;
}