.calendar{
	font-size: 12px;
	transition: 0.4s;
	border-radius: 20px;
	padding:5px;
	margin:20px auto;
}

.calendar button{
	transition: 0.4s;
	border-radius: 5px;
}
.calendar button:hover{
	background-color: #007bff !important;
	color:white;
}

.react-calendar__tile--active{
	background-color: #28a745 !important;
}

.react-calendar__navigation__label{
	width:260px;
}

.appointment-list{
	padding-left:0;
}

.appointmentFields{
	padding:40px;
}

.appointment-list li{
	margin:20px auto;
}

.time{
	padding:10px;
	cursor:pointer;
}

#appointment{
	width:45%;
	margin:40px auto;
}