        .display{
    		display: block;
    	}
    	h5{
    		cursor: pointer;
    	}
    	#prescription{
    		margin: 20px 0;
    	}
    	#ogLink{
    		text-decoration: none;
    		color: black;
    		transition: 0.3s;
    	}
    	#ogLink:hover{
    		color: black;
    		background-color:rgba(0,0,0,.05);
    		border-color:rgba(0,0,0,.05); 
    	}
        /* .hideSidebar{
            transform: scale(0);
            width:0px;
        }
        .fullScreenDashboard{
            margin-left: 0;
        }
        .showSidebar{
            transform: scale(1);
            width:280px;
        }
        .backToNormalDashboard{
            margin-left:280px;
        } */
        @media screen and (max-width: 550px) {
            #prescriptionsTable td,th,#reportsTable td,th{
                font-size: 12px;
            }   
        }
        @media screen and (max-width: 450px) {
            #prescriptionsTable td,th,#reportsTable td,th{
                font-size: 10px;
            }   
        }
        #togglebtn{
            margin: 20px 0;
        }
        h2{
            margin-top: 15px;
        }
        table{
            border-radius: 20px;
        }
        .steps li:nth-child(even){
            background-color:rgba(0,0,0,.05);
        }
        @media screen and (max-width: 840px) {
            .list{
                width: 0;
                padding:0;
                z-index:-1;
                transform: scale(0);
            }
            .dashboard{
                margin-left:0; 
            }   
        } 